<!DOCTYPE html>
<html>
<head>
	<title>Cambiar Contraseña</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="{% static 'login/js/jquery-3.4.0.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/login_resetpassword.css' %}">
</head>
<body>
	

<div class="container">
		<div class="modal-dialog text-center">
	<div class="col-sd-8 main-section">
		<div class="modal-content"> <!-- Contenido -->
			
			<div class="col-12">
				<img src="img/lock_fp.png" class="user-img" style="width: 150px; height: 150px;">
				<h1 style="color:white; font-family: mteboldi">REESTABLECER CONTRASEÑA</h1>
			</div>

			<form class="col-12" id="login-form">
				<div class="form-group">
					<label for="cfmpassword" style="text-align: left;">Introducir Nueva Contraseña</label>
					<i class="fas fa-lock"></i>
					<input type="password" name="password" class="form-control" id="password">
				</div>

				<div class="form-group">
					<label for="cfmpassword" style="text-align: left;">Confirmar Contraseña</label>
					<i class="fas fa-lock"></i>
					<input type="password" name="cfmpassword" class="form-control">
				</div>
				<input type="submit" name="submit" value="Cambiar Contraseña" class="btn btn-primary btn-block btn-sd" id="btn-enviar">
						
			</form>

		</div>

</div>
<script src="{% static 'login/js/resetpassword.js' %}"></script>
</body>
</html>