body {
	font-family: mtlight;
	background: url(../img/panel.jpg) no-repeat center center fixed;
	background-size: cover;
}

.main-section {
	margin: 0 auto;
	margin-top: 150px;
	padding: 0;
}

.modal-content {
	background-color: #222222;
	opacity: 0.95;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #2CB6C2;
}

.user-img {
	margin-top: -50px;
	margin-bottom: 35px;
}

.form-group {
	margin-bottom: 25px;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	padding-left: 34px;
	font-family: mtelight;
}

.fa-user, .fa-lock {
    position: absolute;
    left: 30px;
    margin-top: 11px;
    color: #555e60;
}

.col-12 {
	margin-bottom: 25px;
}

.btn {
	background-color: #2CB6C2;
	color: white;
	font-size: 18px;
	padding: 7px 10px;
	border-radius: 5px;
	border-bottom: 4px solid #166066;
}

#btn-registrar {
	margin-left: 140px;
}

#label-register {
	margin-top: -40px;
}

button {
	width: 40%;
	margin: 5px 0 25px;
}

.error {
	color: red;
}

/* FUENTES */
@font-face {  
	font-family: alfaslabone;
    src: url(../fonts/AlfaSlabOne-Regular.ttf) format("TrueType");
}

@font-face {  
	font-family: chunk;
    src: url(../fonts/chunk.ttf) format("TrueType");
}

@font-face {  
	font-family: calm;
    src: url(../fonts/calm.ttf) format("TrueType");
}

@font-face {  
	font-family: mtlight;
    src: url(../fonts/Montserrat-Light.ttf) format("TrueType");
}

@font-face {  
	font-family: mtelight;
    src: url(../fonts/Montserrat-ExtraLight.ttf) format("TrueType");
}

@font-face {  
	font-family: mtbold;
    src: url(../fonts/Montserrat-Bold.ttf) format("TrueType");
}

@font-face {  
	font-family: mteboldi;
    src: url(../fonts/Montserrat-ExtraBoldItalic.ttf) format("TrueType");
}

@font-face {  
	font-family: mtthini;
    src: url(../fonts/Montserrat-ThinItalic.ttf) format("TrueType");
}

@font-face {  
	font-family: mtthin;
    src: url(../fonts/Montserrat-Thin.ttf) format("TrueType");
}



